[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "chialite-blockchain-gui"]
	path = chialite-blockchain-gui
	url = https://github.com/Storch-Network/chialite-blockchain-gui
